<div class="container">
  <div class="header">
      <div class="input-group mb-3" dir="ltr">
        <input #searchInput type="text" class="form-control text-end" placeholder="بحث" aria-describedby="basic-addon2">
        <span class="input-group-text" id="basic-addon2" (click)="onSearch(searchInput.value)">
          <i class="bi bi-search"></i>
        </span>
      </div>
      <!-- <div class="input-group mb-3" style="width: 10vw;" dir="ltr">
          <input type="number" class="form-control text-end" placeholder="9" aria-describedby="basic-addon2">
          <span class="input-group-text" id="basic-addon2">ريكورد</span>
      </div> -->
      <div class="input-group mb-3" style="width: 20vw;" dir="ltr" >
          <span class="input-group-text" id="basic-addon2">
              <a  [routerLink]="['/employee/merchant', 0]" class="btn add-group-button"><i class="bi bi-plus-lg"></i> أضف تاجر</a>
          </span>
      </div>
  </div>

  <div class="table-responsive text-center" *ngIf="!loading">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>اسم التاجر</th>
          <th>البريد الاليكتروني</th>
          <th>رقم الهاتف </th>
          <th>الفرع</th>
          <th>الصلاحية</th>
          <th>الحالة</th>
          <th>الاعدادات</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of merchants">
          <td>{{item.name}}</td>
          <td>{{item.email}}</td>
          <td>{{item.phone}}</td>
          <td>{{item.branchName}}</td>
          <td>{{item.role}}</td>
          <td>
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="flexSwitchCheckChecked"
                [checked]="item.status"
                (change)="toggleStateStatus(item)"
              />
            </div>


          </td>
          <td>
            <!-- <a [routerLink]="['/employee/permission/form', item.id]" class="btn text-primary"><i class="bi bi-pencil"></i></a> -->
            <a [routerLink]="['/employee/merchant', item.id]" class="btn text-secondary"><i class="bi bi-pencil-square"></i></a>
            <a (click)="deleteMerchant(item.id)" class="btn text-danger"><i class="bi bi-trash"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <div class="input-group mb-3 justify-content-end" style="width: 20vw;" dir="ltr">
      <span class="input-group-text" id="basic-addon2">
          <button class="btn add-group-button">1</button>
          <button class="btn">2</button>
          <button class="btn">3</button>
          <button class="btn">4</button>
          <button class="btn ">></button>
      </span>
  </div> -->
</div>


<div class="text-center w-100" *ngIf="loading">
  <app-spinner></app-spinner>
</div>
