.form-container {
  width: 79vw;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  min-height: 100vh;

}

.form-container h2 {
  margin-bottom: 40px;
  padding-bottom: 10px;
  color: #333;
  text-align: right;
  border-bottom: #333 solid 1px;
  width: 40vw;
}

.form-group {
  margin-bottom: 20px;
  width: 40vw;

}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-weight: bold;
  color: #333;
}

.input-group .form-control {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-text {
  margin-top: 5px;
  font-size: 0.875rem;
}

.text-danger {
  color: #dc3545;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 40vw;
}

.submit {
  color: black;
  border: 1px solid #898787;
  cursor: pointer;
}

.cancel {
  color: black;
  border: 1px solid #D83520;
  cursor: pointer;
}

.form-check {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-check-label {
  margin-bottom: 0.5rem;
}

.form-check-input {
  margin-right: 0;
}
