<div class="container form-container">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <h2>تغيير كلمة المرور</h2>
    <div class="form-group">
      <label for="oldPassword">كلمة السر الحالية</label>
      <input type="password" id="oldPassword" formControlName="oldPassword" class="form-control" required>
      <div *ngIf="changePasswordForm.get('oldPassword')?.invalid && changePasswordForm.get('oldPassword')?.touched" class="form-text text-danger">
        كلمة السر الحالية مطلوبة
      </div>
    </div>

    <div class="form-group">
      <label for="newPassword">كلمة السر الجديدة</label>
      <input type="password" id="newPassword" formControlName="newPassword" class="form-control" required>
      <div *ngIf="changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched" class="form-text text-danger">
        كلمة السر الجديدة مطلوبة
      </div>
    </div>

    <div class="form-group">
      <label for="confirmNewPassword">تأكيد كلمة السر</label>
      <input type="password" id="confirmNewPassword" formControlName="confirmNewPassword" class="form-control" required>
      <div *ngIf="changePasswordForm.errors?.['mismatch'] && changePasswordForm.get('confirmNewPassword')?.touched" class="form-text text-danger">
        تأكيد كلمة السر غير متطابق
      </div>
    </div>

    <div class="buttons d-flex flex-column flex-md-row gap-3">
      <button type="button" class="btn cancel" (click)="goBack()">عودة إلى الخلف</button>
      <button type="submit" class="btn submit" [disabled]="!changePasswordForm.valid">تغيير كلمة المرور</button>
    </div>
  </form>
</div>
