.role-management {
    width: 79vw;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(90, 88, 88, 0.1);
    border-radius: 8px;
    min-height: 100vh;
}
  
.role-management h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: right;
    width: 20vw;
}
  
.form-group {
    margin-bottom: 20px;
    /* width: 100%; */
}
  
.input-group {
    display: flex;
    flex-direction: row;
}

.input-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.input-group .form-control {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-text {
    margin-top: 5px;
    font-size: 0.875rem;
}

.text-danger {
    color: #dc3545;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.submit{
    color: black;
    border: 1px solid #898787;
    cursor: pointer;
}

.cancel{
    color: black;
    border: 1px solid #D83520;
    cursor: pointer;
}

.input-container{
    width: 75%;
}
hr{
    color: rgb(180, 175, 175);
    width: 30%;
}

form{
    background-color: #f7f4f4;
    padding: 20px;
}
.row{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
}

.submit:hover{
    color: white;
    background-color: #898787;
}

.cancel:hover{
    color: #fff;
    background-color: #D83520;
}

.buttons button{
    width: 45%;
    height: 37%;
    margin: auto;
}
