<div class="container">
  <span style="font-size: 20px; font-weight: 500; margin: 40px 20px">المحافظات</span>
  <div class="header">
    <div class="input-group mb-3" dir="ltr">
      <input
        #searchInput
        type="text"
        class="form-control text-end"
        style="height: 45px"
        placeholder="بحث"
        aria-describedby="basic-addon2"
        [(ngModel)]="searchterm"
      />
      <span class="input-group-text" id="basic-addon2">
        <i class="bi bi-search"></i>
      </span>
    </div>
    <!-- <div class="input-group mb-3" style="width: 20vw" dir="ltr">
      <span class="input-group-text" id="basic-addon2">
        <input
          id="pagenumber"
          type="number"
          [(ngModel)]="recordLimit"
          min="1"
          class="form-control"
        />
        ريكورد
      </span>
    </div> -->
    <div class="input-group mb-3" style="width: 20vw" dir="ltr">
      <span class="input-group-text" id="basic-addon2">
        <a
          [routerLink]="['/employee/state/0']"
          class="btn add-group-button"
          ><i class="bi bi-plus-lg"></i> أضف محافظة</a
        >
      </span>
    </div>
  </div>

  <div class="table-responsive text-center" *ngIf="!loading">
    <table class="table">
      <thead>
        <tr>
          <th>الإسم</th>
          <th>الحالة</th>
          <th>المدن</th>
          <th>الإعدادات</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let state of States | searchState: searchterm">
          <td>{{ state.name }}</td>
          <td>
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="flexSwitchCheckChecked"
                [checked]="state.status"
                (change)="toggleStateStatus(state)"
              />
            </div>
          </td>
          <td>
            <i class="bi bi-building" (click)="viewCities(state.id)"></i>
          </td>
          <td>
            <a class="btn text-danger" (click)="deleteState(state.id)">
              <i class="bi bi-trash"></i>
            </a>
            <a class="btn text-primary" (click)="editState(state.id)">
              <i class="bi bi-pencil"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <div class="input-group mb-3 justify-content-end" style="width: 20vw" dir="ltr">
    <span class="input-group-text" id="basic-addon2">
      <button class="btn add-group-button">1</button>
      <button class="btn">2</button>
      <button class="btn">3</button>
      <button class="btn">4</button>
      <button class="btn">></button>
    </span>
  </div> -->
</div>


<div class="text-center w-100" *ngIf="loading">
  <app-spinner></app-spinner>
</div>